# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
UnitTesting/UTSprint.Tests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
UnitTesting/UTSprint.Tests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
